@keyframes pageAppearfromLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pageAppearfromRight {
  0% {
    transform: translate(20rem);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

//For small items
@keyframes up-down {
  0% {
    top: 0;
  }
  50% {
    top: 4rem;
  }
  100% {
    top: 0;
  }
}
