/* ==========================================================================
   Typography
   ========================================================================== */

body {
  font-family: $font-display;
}

p,
.p {
  font-family: $font-text;
  font-size: 2rem;
  line-height: 2;
  margin-bottom: 4rem;
  /* &::first-letter {
    font-size: 2.7rem;
    line-height: 1.3;
    letter-spacing: -1px; 
  }*/

  @media screen and (max-width: $bp-large) {
    font-size: 2rem;
  }

  @media screen and (max-width: $bp-small) {
    font-size: 2rem;
    line-height: 3rem;
  }

  & .emphasis {
    font-weight: 600;
  }
}

h1,
.h1 {
  font-size: 10rem;
  line-height: 1.2;
  letter-spacing: -0.4rem;
  margin: 0;
  text-transform: capitalize;
}

h2,
.h2 {
  margin-top: 34rem;
  font-size: 8rem;
  font-weight: 600;
  text-align: left;

  &::before {
    content: "▸ ";
    display: inline-block;
  }

  &::after {
    content: "";
    display: inline-block;
    background-color: $color-primary-dark;
    width: 100%;
    height: 1px;
    transform: translateY(-6rem);
  }

  & .sectionIndex {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-left: 2rem;
    opacity: 0.8;
  }
}

h3,
.h3 {
  font-size: 3.6rem;
  text-align: center;
  margin-top: 12rem;
}

h4,
.h4 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: baseline;

  &::after {
    content: "";
    display: inline-block;
    background-color: $color-black;
    height: 1px;
    flex: 1 0 auto;
    margin-left: 1rem;
  }
}

.h4-emphasis {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;

  &::after {
    content: "";
    display: inline-block;
    background-color: $color-black;
    width: 90%;
    height: 1px;
    margin-left: 1rem;
  }

  & + * {
    margin: 4rem auto;
  }

  & + *::after {
    content: "";
    display: inline-block;
    background-color: $color-black;
    margin-top: 4rem;
    width: 100%;
    height: 2px;
  }
}

h5,
.h5 {
  font-size: 1rem;
  font-weight: 800;
}

ul {
  margin: 12rem 0;
  font-size: 1.8rem;
  list-style-type: "◖ ";
  position: relative;

  & .ulHeader {
    font-size: 2rem;
    text-align: left;
    margin-top: 8rem;
    margin-bottom: 1rem;
  }

  & .ulRuler {
    background-color: $color-primary-dark;
    width: 100%;
    height: 1px;
    margin-bottom: 2rem;
  }

  & li {
    font-size: 2rem;
    width: 90%;
    margin: 4rem auto 4rem 2rem;
  }
}

blockquote {
  margin: 10rem 0;
  position: relative;
  text-align: center;

  @media screen and (max-width: $bp-medium) {
    width: 75%;
    margin: 10rem auto;
  }

  & .quote-text {
    font-size: 2.4rem;
    text-align: center;
  }

  & .quote-open,
  .quote-close {
    color: $color-primary-dark;
    font-size: 16rem;
    line-height: 0;
    position: absolute;
  }

  & .quote-open {
    top: 8rem;
    left: -6rem;
  }

  & .quote-close {
    bottom: 8rem;
    right: -6rem;
  }
}

/* ==========================================================================
   Button defaults
   ========================================================================== */

.btn {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  line-height: 0;
  padding: 2rem 8rem;
  margin: 0 4rem;
  border-radius: 100px;
  background-color: $color-primary-dark;
  color: $color-white;
  box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 28px 28px 50px -20px #0d275034, -23px -23px 45px -20px #fff;

  & > a {
    padding: 0;
    margin: 0;
  }

  &::selection {
    color: inherit;
    background-color: rgba($color: #000000, $alpha: 0);
  }

  &:hover {
    transform: translateY(-3px) translateX(1px);
    border-radius: 100px;
    background: $color-secondary-light;
    color: $color-black;
    box-shadow: 14px 14px 28px #e6e6e6, -14px -14px 28px #ffffff;
    cursor: pointer;
  }

  &:active {
    transform: translateY(0px) translateX(1px);
    box-shadow: -1px 3px 5px -1px $shadow20;
    cursor: pointer;
  }
}

.btn-small {
  color: inherit;
  margin: 4rem auto;
  font-size: 2.4rem;
  font-weight: 600;

  &:link {
    text-decoration: underline;
  }

  &:hover {
    color: $color-primary;
    transform: scale(1.005);
  }

  &:active {
    color: $color-primary-dark;
    transform: scale(1);
  }
}

.btn--large {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-secondary;
  color: $color-white;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  height: 9rem;
  border-radius: 4px;
  margin: 16rem auto;
  width: 50%;
  transition: all 0.2s;
  position: relative;
  @media screen and (max-width: $bp-large) {
    margin: 0 4rem;
  }
  @media screen and (max-width: $bp-medium) {
    margin: 2rem 0;
  }

  &::selection {
    background-color: rgba($color: #000, $alpha: 0);
    color: inherit;
  }
  &:link,
  &:visited {
    text-decoration: none;
  }
  &:hover {
    transform: scale(1.04);
    color: $color-primary-dark;
    background-color: $color-primary-light;
  }
  &:active {
    transition: none;
    transform: scale(1);
    background-color: $color-primary-dark;
  }

  & svg {
    fill: $color-white;
    position: absolute;
    top: 2px;
    right: 3px;
  }
}
/* ==========================================================================
   Iconography
   ========================================================================== */

.socialLink {
  display: flex;
  justify-content: center;
  align-content: center;
  transform: translateY(-3px);

  &__icon {
    width: 2.8rem;
    height: auto;

    &:hover {
      transform: translateY(-2px) scale(1.1);
    }
  }
}
