/* ==========================================================================
   section - ARTICLE FOOTER
   ========================================================================== */
.closingParagraph {
  clip-path: polygon(0 8rem, 100% 0%, 100% 92%, 0% 100%);
  padding: 16rem 4rem;
  color: $color-white;
  margin-bottom: -8rem;
  background: linear-gradient(357deg, $color-primary-dark 0%, $color-primary 16%, $color-primary 83%, $color-primary-dark 100%);


  @media screen and (max-width: $bp-medium) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background: $color-white;
  }
}


.authorMessage {
  display: flex;
  margin: -4rem 20vw;
  justify-content: center;
  @media screen and (max-width: $bp-small) {
    flex-direction: column;
    align-items: center;
    width: 66vw;
  }

  &__profile {
    align-self: center;    
    &-img {
      border-radius: 100rem;
      box-shadow: 1rem 1rem 4rem $shadow20;
      width: 20rem;
      height: auto;
      transform: rotate(5.5deg);
      filter: saturate(0);
    }
  }

  &__copy {
    width: 100%;
    & h4 {
      font-size: 2.6rem;
      &::after {
        background-color: $color-white;
      }
    }
    & p {
      font-size: 2em;
      @media screen and (max-width: $bp-small) {
        font-size: 2rem;
      }
    }

    &::after {
      content: "";
      display: block;
      background-color: #fff;
      height: 1px;
    }
  }
}

.recommended {
  margin: 8rem 0;
  padding: 2rem 0;
  & h3 {
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }
  @media screen and (max-width: $bp-small) {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    box-shadow: none;

    & .contentGrid {
      grid-column: repeat(3, auto);
      margin-top: 8rem;
    }

    & .contentFrame {
      width: 40vw;
      height: 20vh;
    }
  }
}