/* 
.galleryHero {
  clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
  width: 100%;
  height: 44vh;
  overflow: hidden;
  background-color: $color-gray-dark;
  & img {
    transform: translateY(-70rem);
    width: auto;
    filter: grayscale(1);
    opacity: 0.15;
  }
}

.pageHeader {
  margin: 12rem auto 3rem;
  margin-top: -32vh;
  & h1 {
    font-size: 28rem;
    opacity: 0.6;
    letter-spacing: -2rem;
    text-align: center;
    margin-left: -3rem;
    color: $color-white;
  }
  @media screen and (max-width: $mobile-large) {
    & h1 {
      font-size: 16rem;
      margin: 4.4rem 0;
      text-align: center;
    }
  }
}

.pageDescription {
  margin: 0 auto;
  text-align: center;
  background-color: black;

  & p {
    margin: -4rem auto 12rem auto;
    width: 32rem;
    font-size: 1.8rem;
    color: $color-white;
  }
}
 */

.galleryHero {
  margin: 0 -8rem;
  margin-bottom: -4rem;
  background-image: linear-gradient(135deg, $color-black, rgb(65, 65, 65));
  height: 52rem;
  overflow: hidden;
  box-shadow: 0 2px 1rem $shadow20;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  
  @media screen and (max-width: $bp-small) {
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
    margin: 0 -1.2rem;
    padding: 2rem;
  }

  &Banner {
    width: 40vw;
    position: relative;

    &__inside {

      object-fit: fill;

      & img {
        opacity: 0.3;
        width: 100vw;
      }
     
    }
    
    &__copy {
      position: absolute;
      top: 8rem;
      left: 6rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      @media screen and (max-width: $bp-small) {
        flex-direction: column;
        top: 0;
        left: 100%;
        transform: translateX(-45%);
        gap: 0;
        margin-top: 8rem;
      }
    }
    &__title {
      font-size: 28rem;
      color: $color-white;
      @media screen and (max-width: $bp-medium) {
        font-size: 16vw;
        text-align: center;
      }
      @media screen and (max-width: $bp-small) {
        width: 66vw;
        font-size: 16vw;
        margin: 0 auto;
        text-align: center;
      }
    }
    &__subtitle {
      max-width: 80rem;
      min-width: 40rem;
      line-height: 1.6;
      font-size: 2.8rem;
      color: $color-white;
      opacity: 0.88;
      font-weight: 100;
      border-radius: 4px;
      
      @media screen and (max-width: $bp-medium) {
        width: 33vw;
        margin: 0;
      }
      @media screen and (max-width: $bp-small) {
        width: 66vw;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

.portfolio {
  clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
  background: linear-gradient(
    358deg,
    $shadow20 0%,
    $color-white 10%,
    $color-white 90%,
    $shadow20 100%
  );
  display: flex;
  flex-direction: column;
  padding: 16rem 4rem 20rem 4rem;
  margin: 0 -8rem;
  margin-bottom: 4rem;

  @media screen and (max-width: $bp-small) {
    margin: 0;
    padding: 8rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background: none;
  }
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  gap: 4rem;
  margin: 4rem auto;
  justify-content: center;

  @media screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(3, auto);
  }
  @media screen and (max-width: $bp-small) {
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    width: 90%;
  }

  @media screen and (max-width: $mobile-large) {
    grid-template-columns: repeat(1, auto);
  }
}

.contentFrame {
  background-color: $color-black;
  border-radius: 4px;
  border: solid rgba($color: white, $alpha: 0.4) 0.1px;
  box-shadow: 0 0 0 $shadow20;
  flex: 1 0 auto;
  height: 48rem;
  margin: 0 auto;
  padding-left: 2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.4s;
  max-width: 34rem;

  @media screen and (max-width: $bp-medium) {
    max-width: none;
  }

  @media screen and (max-width: $bp-small) {
    max-width: none;
    overflow: visible;
    margin: 0 2rem 4rem 0;
    width: 40vw;
    box-shadow: 0.4rem 0.4rem 2rem $shadow20;
  }

  @media screen and (max-width: $mobile-large) {
    width: 66vw;
  }

  &:link {
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    transform: translate(1rem, -3.4rem) skewY(3deg);
    box-shadow: -1rem 2.5rem 15px $shadow20;
  }

  &:active {
    transition: none;
    transform: translate(1rem, -2.9rem) skewY(3deg);
    box-shadow: -1rem 2rem 15px $shadow20;
  }

  &:hover > &__copy {
    transition: all 0.2s;
    opacity: 1;
    transform: translate(-5px, 0) skewY(-2deg);
  }

  &:hover > &__img {
    opacity: 0.2;
    transition: all 0.4s;
  }

  // ALL TEXT ITEMS
  &__copy {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    margin: 0 auto;

    @media screen and (max-width: $bp-small) {
      opacity: 1;
      height: 100%;
      display: inline-block;
      position: relative;
      width: 100%;
    }
  }

  &__title {
    font-size: 3.6rem;
    text-transform: capitalize;
    letter-spacing: -1px;
    color: $color-white;
    width: 100%;
    text-align: center;
    z-index: 10;
    @media screen and (max-width: $bp-small) {
      position: absolute;
      top: -3rem;
      left: -2rem;
      font-size: 2.4rem;
      text-align: left;
      color: $color-black;
    }
  }

  &__description {
    font-size: 2rem;
    color: $color-white;
    margin: 0 8%;
    width: auto;
    text-align: center;
    z-index: 10;
    @media screen and (max-width: $bp-small) {
      position: absolute;
      bottom: 2rem;
      left: 0;
      margin: 0;
      margin-left: -2rem;
      text-align: left;
      opacity: 0.9;
      background-color: $color-black;
      width: 80%;
      padding: 2rem;
      font-weight: 300;
    }
  }

  &__meta {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: -1px;
    color: $color-white;
    width: 100%;
    text-align: center;
    z-index: 10;
    @media screen and (max-width: $bp-small) {
      position: absolute;
      top: -2.6rem;
      text-align: right;
      right: 0;
      color: $color-black;
    }
  }

  &__img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
  }
}

.contentFrame__last {
  background-color: $color-gray-light;
  opacity: 0.2;
  flex: 1 0 28rem;
  height: 46rem;
  max-width: 15rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  display: flex;
  margin-left: 0;
  align-items: center;
  transition: all 0.4s;

  &:link {
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &:active {
    transition: none;
    cursor: pointer;
    transform: scale(0.96);
    box-shadow: 0 0 1rem -1rem $shadow20;
  }

  // ALL TEXT ITEMS
  &__copy {
    opacity: 1;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    margin: 0 auto;
  }

  &__title {
    font-size: 3.6rem;
    text-transform: capitalize;
    letter-spacing: -1px;
    color: $color-white;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

  &__description {
    font-size: 2rem;
    color: $color-white;
    margin: 0 5%;
    width: auto;
    text-align: center;
    z-index: 10;
  }
}
